<div class="container">
    <div class="border rounded d-flex justify-content-around" style="width: 28rem; 
    background-color: rgb(90, 118, 134); margin: auto; margin-top: 5rem;">

        <div class="add-list border rounded p-1 text-center" style="width: 7rem;">
            <a routerLinkActive="active" [routerLink]="['/addpoduct']" >Add product</a>
        </div>
        <div class="list border rounded p-1 text-center" style="width: 7rem;">
            <a routerLinkActive="active" [routerLink]="['/product']" >product</a>
        </div>

    </div>
</div>

<router-outlet></router-outlet>