<div class="container d-flex flex-wrap mt-5">
    <div class="row mr-2 mt-2" *ngFor = "let prod of inputVal" >
    
        <div class="list border " style="width: 8rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{prod.productName}}</li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
            </ul>
        </div>

        <div class="photo border" style="width: 8rem;">
            <div class="current-photo text-center" >
                <h5>##SKU</h5>
                <h5></h5>
            </div>
        </div>
    
    </div>  
</div>
